<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center">About Picasso</h1>
    <div class="container">
      <br/>
      <img
      src="https://sc02.alicdn.com/kf/HTB1Hn2OSpXXXXX2XFXXq6xXFXXXG.jpg_350x350.jpg"
      class="center">
    </div>
    <br/>
    <br/>
    <h6 class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </h6>
  </div>
</div>
