<div class="container jumbotron">
  <h1 class="display-6">Add a new post</h1>
  <form
  class="container"
  (submit)="onAddPost(postForm)" #postForm="ngForm">
    <div class="form-group">
      <input
      ngModel
      type="text"
      class="form-control"
      #title="ngModel"
      placeholder="Describe your post"
      name="title"
      required>
      <small class="form-text text-muted">Use a descriptive title</small>
    </div>
    <div class="form-group">
      <input
      type="url"
      class="form-control"
      ngModel
      #imgUrl="ngModel"
      placeholder="That sweet href"
      name="imgUrl"
      required>
    </div>
    <button type="submit" class="btn btn-primary">Add this post</button>
  </form>
</div>
